/*=========================xxl device start=========================*/
@media(min-width:1400px) {
    #service .service_prev_arrow {
        left: 47.5%;
    }

    #service .service_next_arrow {
        right: 47.5%;
    }

    #testimonial .testimonial_prev_arrow {
        left: 47.5%;
    }

    #testimonial .testimonial_next_arrow {
        right: 47..5%;
    }

    #blog .blog_item_img img {
        width: 100%;
    }

    #blog .blog_text {
        padding: 54px 40px;
    }
}

/*=========================xxl device end=========================*/


/*=========================xl device start=========================*/

/*=========================xl device end=========================*/


/*=========================lg device start=========================*/
@media(min-width:992px) and (max-width:1199px) {

    #about {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    #about .about_text h2 {
        margin-bottom: 35px;
    }

    #about .about_text .margin_bottom {
        margin-bottom: 20px;
    }

    #about .about_social_link {
        margin-top: 50px;
    }

    #portfolio {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    #service .service_item {
        padding: 0 10px;
    }

    #service .service_prev_arrow {
        left: 46.5%;
    }

    #service .service_next_arrow {
        right: 46.5%;
    }

    #portfolio .portfolio_head h2 {
        margin-bottom: 30px;
    }

    #portfolio .portfolio_category ul li {
        line-height: 50px;
    }

    #testimonial .testimonial_item {
        padding: 0 12px;
    }


    #testimonial .testimonial_prev_arrow {
        left: 46.5%;
    }

    #testimonial .testimonial_next_arrow {
        right: 46.5%;
    }

    #pricing {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    #blog .blog_item_img img {
        width: 100%;
    }

    #footer .footer_main {
        padding-top: 70px;
    }

    #footer .message_me .name input {
        margin-bottom: 15px;
    }
}

/*=========================lg device end=========================*/


/*=========================md device start=========================*/
@media(min-width:768px) and (max-width:991px) {
    .main_nav .menu ul {
        background: gray;
        text-align: center;
    }

    .main_nav .menu ul li {
        margin-left: 0;
        margin-right: 0;
    }

    .main_nav .menu ul li a {
        padding-top: 10px !important;
    }

    #banner::after {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.5);
        content: '';
    }

    #banner .banner_text {
        left: 40%;
        z-index: 1;
    }

    #about {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    #about .about_text h2 {
        margin-bottom: 35px;
    }

    #about .about_text .margin_bottom {
        margin-bottom: 20px;
    }

    #about .about_social_link {
        margin-top: 50px;
    }

    #portfolio {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    #portfolio .offset-1 {
        margin-left: 0;
    }

    #portfolio .portfolio_item_img_overlay_text {
        margin-top: 92%;
    }

    #portfolio .portfolio_item_img_overlay_icon i {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    #portfolio .portfolio_head h2 {
        margin-bottom: 35px;
    }

    #portfolio .portfolio_category ul li {
        line-height: 45px;
    }

    #service .service_item {
        padding: 0 15px;
    }

    #service .service_prev_arrow {
        left: 45.5%;
    }

    #service .service_next_arrow {
        right: 45.5%;
    }

    #testimonial .testimonial_item {
        padding: 0 25px;
        text-align: center;
    }

    #testimonial .testimonial_item_img img {
        margin: 0 auto;
    }

    #testimonial .testimonial_prev_arrow {
        left: 45.5%;
    }

    #testimonial .testimonial_next_arrow {
        right: 45.5%;
    }

    #pricing {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    #pricing .pricing_item_head {
        height: 50px;
    }

    #pricing .pricing_item_head h3 {
        line-height: 50px;
    }

    #pricing .pricing_item_price {
        padding-bottom: 10px;
    }

    #pricing .pricing_item_price h2 {
        font-size: 44px;
    }

    #pricing .pricing_item_price span {
        font-size: 16px;
    }

    #pricing .pricing_item_text ul {
        margin-top: 14px;
    }

    #pricing .pricing_item_text ul li {
        line-height: 30px;
    }

    #pricing .pricing_item_btn a {
        padding: 8px 12px;
    }

    #blog .blog_item_img img {
        width: 100%;
    }

    #blog .blog_text {
        padding: 20px;
    }

    #footer .footer_main {
        padding-top: 70px;
    }

    #footer .message_me .name input {
        margin-bottom: 15px;
    }
}

/*=========================md device end=========================*/


/*=========================sm device start=========================*/
@media(min-width:576px) and (max-width:767px) {

    .main_nav .menu ul {
        background: gray;
        text-align: center;
    }

    .main_nav .menu ul li {
        margin-left: 0;
        margin-right: 0;
    }

    .main_nav .menu ul li a {
        padding-top: 10px !important;
    }

    #banner .banner_img {
        display: none;
    }

    #banner .banner_text {
        position: static;
        top: 0;
        margin-top: 220px;
    }

    #banner .banner_text h3 {
        font-size: 28px;
    }

    #banner .banner_text h1 {
        font-size: 100px;
        line-height: 100px;
    }

    #banner .banner_text h2 {
        font-size: 85px;
        line-height: 85px;

    }

    #about {
        padding-top: 30px;
        padding-bottom: 35px;
    }

    #about .about_text h2 {
        font-size: 30px;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    #about .about_text p {
        text-align: justify;
    }

    #about .about_text .margin_bottom {
        margin-bottom: 22px;
    }

    #about .about_social_link {
        margin-top: 40px;
    }

    #about .about_social_link h3 {
        font-size: 22px;
        margin-bottom: 25px;
    }

    #about .about_social_link ul li {
        margin: 0px 2px;
    }

    #about .about_social_link ul li a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
    }

    #service {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #service .service_head h2 {
        font-size: 30px;
        margin-bottom: 50px;
    }

    #service .service_item .service_item_text h3 {
        margin-bottom: 18px;
    }

    #service .service_prev_arrow {
        bottom: 40px;
        left: 45%;
        width: 25px;
        height: 25px;
        line-height: 25px;
    }

    #service .service_prev_arrow i {
        font-size: 25px;
    }

    #service .service_next_arrow {
        bottom: 40px;
        right: 45%;
        width: 25px;
        height: 25px;
        line-height: 25px;
    }

    #service .service_next_arrow i {
        font-size: 25px;
    }

    #portfolio {
        padding-top: 50px;
        padding-bottom: 45px;
    }

    #portfolio .offset-1 {
        margin-left: 0;
    }

    .portfolio_item {
        margin-bottom: 24px;
    }

    #portfolio .margin_bottom {
        margin-bottom: 0;
    }

    #portfolio .portfolio_head h2 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    #portfolio .portfolio_category ul li {
        line-height: 36px;
    }

    #portfolio .portfolio_category ul li a {
        font-size: 18px;
    }

    #testimonial {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #testimonial .testimonial_head h2 {
        font-size: 30px;
        margin-bottom: 50px;
    }

    #testimonial .testimonial_item {
        padding: 0 12px;
        text-align: center;
    }

    #testimonial .testimonial_item_img img {
        margin: 0 auto;
        padding-bottom: 10px;
    }

    #testimonial .testimonial_prev_arrow {
        bottom: 40px;
        left: 45%;
        width: 25px;
        height: 25px;
        line-height: 25px;
    }

    #testimonial .testimonial_prev_arrow i {
        font-size: 25px;
    }

    #testimonial .testimonial_next_arrow {
        bottom: 40px;
        right: 45%;
        width: 25px;
        height: 25px;
        line-height: 25px;
    }

    #testimonial .testimonial_next_arrow i {
        font-size: 25px;
    }

    #pricing {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #pricing .pricing_head h2 {
        font-size: 25px;
    }

    #pricing .pricing_item_head h3 {
        font-size: 18px;
    }

    #pricing .pricing_item {
        margin-bottom: 30px;
    }

    #pricing .pricing_item_price h2 {
        font-size: 55px;
    }

    #pricing .pricing_item_price span {
        font-size: 20px;
    }

    #pricing .pricing_item_price {
        padding-bottom: 10px;
    }

    #pricing .pricing_item_text ul {
        margin-top: 10px;
    }

    #pricing .pricing_item_text ul li {
        line-height: 35px;
    }

    #pricing .pricing_item_btn a {
        font-size: 15px;
        padding: 10px 14px;
    }

    #blog {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #blog .blog_head h2 {
        font-size: 30px;
        margin-bottom: 40px;
    }

    #blog .blog_item_img img {
        width: 100%;
    }

    #blog .blog_item_img_overlay {
        transform: translateY(-120%);
        -webkit-transform: translateY(-120%);
        -moz-transform: translateY(-120%);
        -ms-transform: translateY(-120%);
        -o-transform: translateY(-120%);
    }

    #blog .blog_item_img:hover .blog_item_img_overlay {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    #blog .blog_text {
        padding: 16px;
    }

    #blog .bolg_text_info {
        margin-bottom: 15px;
    }

    #blog .bolg_text_info span {
        font-size: 12px;
    }

    #blog .bolg_text_info ul li {
        margin: 0 3px;
    }

    #blog .bolg_text_info ul li a {
        font-size: 12px;
    }

    #blog .blog_text_docs h2 {
        font-size: 19px;
        margin-bottom: 14px;
    }

    #blog .blog_text_docs p {
        text-align: justify;
    }

    #blog .blog_text_btn a {
        font-size: 15px;
    }

    #blog .blog_text_btn a i {
        padding-left: 5px;
        font-size: 14px;
    }

    #blog .blog_text::after {
        transform: translateY(120%);
        -webkit-transform: translateY(120%);
        -moz-transform: translateY(120%);
        -ms-transform: translateY(120%);
        -o-transform: translateY(120%);
    }

    #blog .blog_text:hover.blog_text::after {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    #blog .blog_btn {
        margin-top: 40px;
    }

    #blog .blog_btn a {
        font-size: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;

    }

    #footer .footer_main {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    #footer .get_touch ul li {
        padding-left: 30px;
    }

    #footer .get_touch ul li a {
        font-size: 17px;
        line-height: 34px;
    }

    #footer .follow_me {
        margin-top: 30px;
    }

    #footer .follow_me h2 {
        margin-bottom: 25px;
    }

    #footer .follow_me ul {
        margin-bottom: 20px;
    }

    #footer .follow_me ul li {
        margin-left: 1px;
        margin-right: 1px;
    }

    #footer .follow_me ul li a {
        font-size: 19px;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    #footer .message_me {
        padding-top: 25px;
        padding-bottom: 24px;
        padding-left: 25px;
        padding-right: 25px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    #footer .message_me h2 {
        margin-bottom: 20px;
    }

    #footer .message_me .name input {
        padding: 6px;
        margin-bottom: 12px;
    }

    #footer .message_me .email input {
        padding: 6px;
    }

    #footer .message_me .message textarea {
        padding: 6px;
        margin-top: 20px;
    }

    #footer .message_me .message button {
        width: 55px;
        height: 55px;
    }

    #footer .message_me .message button i {
        bottom: -20%;
        right: 0%;
    }

    .scroll_to_top {
        right: 12px;
        bottom: 12px;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    .scroll_to_top i {
        font-size: 22px;
    }
}

/*=========================sm device end=========================*/


/*=========================xs device start=========================*/
@media(max-width:575px) {

    .main_nav .menu ul {
        background: #c3c3c3;
        text-align: center;
        padding: 10px 0;
    }

    .main_nav .menu ul li {
        margin-left: 0;
        margin-right: 0;
    }

    .main_nav .menu ul li a {
        padding-top: 10px !important;
    }

    .nav_sticky .menu ul li a {
        padding-top: 10px !important;
        display: block;
    }

    #banner {
        height: 530px;
    }

    #banner .banner_img {
        display: none;
    }

    #banner .banner_text {
        top: 230px;
        left: 50%;
        transform: translate(-50%);
        text-align: center !important;
    }

    #banner .banner_text h3 {
        font-size: 20px;
    }

    #banner .banner_text h1 {
        font-size: 60px;
        line-height: 65px;
    }

    #banner .banner_text h2 {
        font-size: 50px;
        line-height: 50px;

    }

    #banner .banner_btn a {
        padding: 10px 12px;
    }

    #banner .banner_btn a:first-child {
        margin-right: 10px;
    }

    #about {
        padding-top: 30px;
        padding-bottom: 35px;
    }

    #about .about_text h2 {
        font-size: 30px;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    #about .about_text p {
        text-align: justify;
    }

    #about .about_text .margin_bottom {
        margin-bottom: 22px;
    }

    #about .about_social_link {
        margin-top: 40px;
    }

    #about .about_social_link h3 {
        font-size: 22px;
        margin-bottom: 25px;
    }

    #about .about_social_link ul li {
        margin: 0px 2px;
    }

    #about .about_social_link ul li a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
    }

    #service {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #service .service_head h2 {
        font-size: 30px;
        margin-bottom: 50px;
    }

    #service .service_item .service_item_text h3 {
        margin-bottom: 18px;
    }

    #service .service_prev_arrow {
        bottom: 40px;
        left: 40%;
        width: 25px;
        height: 25px;
        line-height: 25px;
    }

    #service .service_prev_arrow i {
        font-size: 25px;
    }

    #service .service_next_arrow {
        bottom: 40px;
        right: 40%;
        width: 25px;
        height: 25px;
        line-height: 25px;
    }

    #service .service_next_arrow i {
        font-size: 25px;
    }

    #portfolio {
        padding-top: 50px;
        padding-bottom: 45px;
    }

    .portfolio_item {
        margin-bottom: 24px;
    }

    #portfolio .portfolio_item_img img {
        width: 100%;
    }

    #portfolio .offset-1 {
        margin-left: 0;
    }

    #portfolio .margin_bottom {
        margin-bottom: 0;
    }

    #portfolio .portfolio_head h2 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    #portfolio .portfolio_category ul li {
        line-height: 36px;
    }

    #portfolio .portfolio_category ul li a {
        font-size: 18px;
    }

    #testimonial {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #testimonial .testimonial_head h2 {
        font-size: 30px;
        margin-bottom: 50px;
    }

    #testimonial .testimonial_item {
        padding: 0 12px;
        text-align: center;
    }

    #testimonial .testimonial_item_img img {
        margin: 0 auto;
        padding-bottom: 10px;
    }

    #testimonial .testimonial_prev_arrow {
        bottom: 40px;
        left: 40%;
        width: 25px;
        height: 25px;
        line-height: 25px;
    }

    #testimonial .testimonial_prev_arrow i {
        font-size: 25px;
    }

    #testimonial .testimonial_next_arrow {
        bottom: 40px;
        right: 40%;
        width: 25px;
        height: 25px;
        line-height: 25px;
    }

    #testimonial .testimonial_next_arrow i {
        font-size: 25px;
    }

    #pricing {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #pricing .pricing_head h2 {
        font-size: 25px;
    }

    #pricing .pricing_item_head h3 {
        font-size: 18px;
    }

    #pricing .pricing_item {
        margin-bottom: 30px;
    }

    #pricing .pricing_item_price h2 {
        font-size: 55px;
    }

    #pricing .pricing_item_price span {
        font-size: 20px;
    }

    #pricing .pricing_item_price {
        padding-bottom: 10px;
    }

    #pricing .pricing_item_text ul {
        margin-top: 10px;
    }

    #pricing .pricing_item_text ul li {
        line-height: 35px;
    }

    #pricing .pricing_item_btn a {
        font-size: 15px;
        padding: 10px 14px;
    }

    #blog {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #blog .blog_head h2 {
        font-size: 30px;
        margin-bottom: 40px;
    }

    #blog .blog_item_img img {
        width: 100%;
    }

    #blog .blog_item_img_overlay {
        transform: translateY(-120%);
        -webkit-transform: translateY(-120%);
        -moz-transform: translateY(-120%);
        -ms-transform: translateY(-120%);
        -o-transform: translateY(-120%);
    }

    #blog .blog_item_img:hover .blog_item_img_overlay {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    #blog .blog_text {
        padding: 16px;
    }

    #blog .bolg_text_info {
        margin-bottom: 15px;
    }

    #blog .bolg_text_info span {
        font-size: 12px;
    }

    #blog .bolg_text_info ul li {
        margin: 0 3px;
    }

    #blog .bolg_text_info ul li a {
        font-size: 12px;
    }

    #blog .blog_text_docs h2 {
        font-size: 19px;
        margin-bottom: 14px;
    }

    #blog .blog_text_docs p {
        text-align: justify;
    }

    #blog .blog_text_btn a {
        font-size: 15px;
    }

    #blog .blog_text_btn a i {
        padding-left: 5px;
        font-size: 14px;
    }

    #blog .blog_text::after {
        transform: translateY(120%);
        -webkit-transform: translateY(120%);
        -moz-transform: translateY(120%);
        -ms-transform: translateY(120%);
        -o-transform: translateY(120%);
    }

    #blog .blog_text:hover.blog_text::after {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    #blog .margin_bottom {
        margin-bottom: 30px;
    }

    #blog .xs_margin {
        margin-top: 30px;
    }

    #blog .blog_btn {
        margin-top: 40px;
    }

    #blog .blog_btn a {
        font-size: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;

    }

    #footer .footer_main {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    #footer .get_touch ul li {
        padding-left: 30px;
    }

    #footer .get_touch ul li a {
        font-size: 17px;
        line-height: 34px;
    }

    #footer .follow_me {
        margin-top: 30px;
    }

    #footer .follow_me h2 {
        margin-bottom: 25px;
    }

    #footer .follow_me ul {
        margin-bottom: 20px;
    }

    #footer .follow_me ul li {
        margin-left: 1px;
        margin-right: 1px;
    }

    #footer .follow_me ul li a {
        font-size: 19px;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    #footer .message_me {
        padding-top: 25px;
        padding-bottom: 24px;
        padding-left: 25px;
        padding-right: 25px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    #footer .message_me h2 {
        margin-bottom: 20px;
    }

    #footer .message_me .name input {
        padding: 6px;
        margin-bottom: 12px;
    }

    #footer .message_me .email input {
        padding: 6px;
    }

    #footer .message_me .message textarea {
        padding: 6px;
        margin-top: 20px;
    }

    #footer .message_me .message button {
        width: 55px;
        height: 55px;
        bottom: 2px;
    }

    #footer .message_me .message button i {
        bottom: -20%;
        right: 0%;
    }

    #footer .footer_copyright .footer_copyright_text p {
        padding: 0 40px;
    }

    .scroll_to_top {
        right: 12px;
        bottom: 12px;
        width: 35px;
        height: 35px;
        line-height: 35px;
    }

    .scroll_to_top i {
        font-size: 20px;
    }
}

/*=========================xs device end=========================*/