/*========================default css start========================*/
* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    transition: .5s;
}

img {
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

/*========================default css end========================*/

/*========================nav section start========================*/
.main_nav {
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
}

.main_nav .logo {
    padding: 20px 0 0 0;
}

.main_nav .logo img {
    max-width: 100%;
}

.main_nav .menu ul li {
    margin-left: 10px;
    margin-right: 10px;
}

.main_nav .menu ul li a {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Open Sans',
        sans-serif;
    color: #222222 !important;
    padding: 60px 10px 10px 10px !important;
}

.main_nav .menu ul li a:hover {
    background: #d6c6b2;
}

.navbar .navbar-nav .nav-item .nav-link.active {
    background: #d6c6b2
}

.nav_sticky {
    background: rgba(198, 221, 235, 0.9);
    position: fixed;
    animation: animateNav 1s;
    -webkit-animation: animateNav 1s;
}

@keyframes animateNav {
    from {
        top: -50px;
    }

    to {
        top: 0;
    }
}

.nav_sticky .logo {
    padding-top: 0;
}

.nav_sticky .navbar-brand img {
    width: 160px;
    padding: 10px 0;
}

.nav_sticky .menu ul li a {
    padding-top: 10px !important;
    display: inline-block;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

.navbar .navbar-toggler {
    padding: .2rem .6rem .4rem .6rem;
    border-color: #444444;
    border-radius: 0rem;
    -webkit-border-radius: 0rem;
    -moz-border-radius: 0rem;
    -ms-border-radius: 0rem;
    -o-border-radius: 0rem;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-toggler-icon {
    width: 24px;
    height: 19px;
    background-image: none;
    position: relative;
    border-bottom: 3px solid #444444;
    transition: all .3s linear;
}

.navbar .navbar-toggler-icon::after,
.navbar .navbar-toggler-icon::before {
    width: 24px;
    position: absolute;
    height: 3px;
    background-color: #444444;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all .3s linear;
}

.navbar .navbar-toggler-icon::after {
    top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    background: #958673;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
    transform: translateY(8px) rotate(-45deg);
    -webkit-transform: translateY(8px) rotate(-45deg);
    -moz-transform: translateY(8px) rotate(-45deg);
    -ms-transform: translateY(8px) rotate(-45deg);
    -o-transform: translateY(8px) rotate(-45deg);
    background: #958673;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}

/*========================nav section end========================*/

/*========================banner section start========================*/
#banner {
    position: relative;
    background: #e5e8ea;
    height: 620px;
    overflow: hidden;
}

#banner .banner_img {
    position: absolute;
}

#banner .banner_text {
    position: absolute;
    top: 230px;
}

#banner .banner_text h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #222222;
    font-family: 'Abril Fatface',
        cursive;
}

#banner .banner_text h1 {
    font-size: 102px;
    font-weight: 400;
    line-height: 102px;
    color: #222222;
    font-family: 'Abril Fatface',
        cursive;
    text-transform: uppercase;
}

#banner .banner_text h2 {
    font-size: 85px;
    font-weight: 400;
    line-height: 85px;
    color: #222222;
    font-family: 'Abril Fatface',
        cursive;
}

#banner .banner_btn {
    margin-top: 40px;
}

#banner .banner_btn a {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #d6c6b2;
    font-family: 'Open Sans',
        sans-serif;
    text-transform: uppercase;
    padding: 15px 20px;
    border: 2px solid #d6c6b2;
    display: inline-block;
}

#banner .banner_btn a:hover {
    background: #d6c6b2;
    color: #222222;
}

#banner .banner_btn a:first-child {
    margin-right: 30px;
    background: #d6c6b2;
    color: #222222;
}

/*========================banner section end========================*/

/*========================about section start========================*/
#about {
    padding-top: 100px;
    padding-bottom: 100px;
}

#about .about_text h2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    color: #222222;
    font-family: 'Abril Fatface',
        cursive;
    margin-bottom: 60px;
}

#about .about_text p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #444444;
    font-family: 'Open Sans',
        sans-serif;
}

#about .about_text .margin_bottom {
    margin-bottom: 35px;
}

#about .about_social_link {
    margin-top: 60px;
}

#about .about_social_link h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    color: #222222;
    font-family: 'Abril Fatface',
        cursive;
    margin-bottom: 30px;
}

#about .about_social_link ul li {
    display: inline-block;
    margin: 0 10px;
}

#about .about_social_link ul li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #444444;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
    color: #444444;
    font-size: 20px;
}

#about .about_social_link ul li a:hover {
    background: #d6c6b2;
    border-color: #d6c6b2;
    box-shadow: 0 0 8px 0 #d6c6b2;
}

/*========================about section end========================*/

/*========================service section start========================*/
#service {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #f7f7f7;
    position: relative;
}

#service .service_head h2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    color: #222222;
    font-family: 'Abril Fatface',
        cursive;
    margin-bottom: 55px;
}

#service .service_item {
    text-align: center;
    padding: 0 10px;
}

#service .service_item .service_item_img {
    margin-bottom: 30px;
}

#service .service_item .service_item_img img {
    max-width: 100%;
    margin: auto;
}

#service .service_item .service_item_text h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #222222;
    font-family: 'Open Sans',
        sans-serif;
    margin-bottom: 25px;
}

#service .service_item .service_item_text p {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #444444;
    font-family: 'Open Sans',
        sans-serif;
    margin-bottom: 70px;
}

#service .service_prev_arrow {
    position: absolute;
    bottom: 60px;
    left: 47%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #444444;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    z-index: 22;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

#service .service_prev_arrow:hover {
    background: #d6c6b2;
    border-color: #d6c6b2;
}

#service .service_prev_arrow i {
    font-size: 30px;
    color: #444444;
    position: absolute;
    right: 50%;
}

#service .service_next_arrow {
    position: absolute;
    bottom: 60px;
    right: 47%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #444444;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    z-index: 22;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

#service .service_next_arrow:hover {
    background: #d6c6b2;
    border-color: #d6c6b2;
}

#service .service_next_arrow i {
    font-size: 30px;
    color: #444444;
    position: absolute;
    left: 50%;
}

/*========================service section end========================*/

/*========================portfolio section start========================*/
#portfolio {
    padding-top: 100px;
    padding-bottom: 100px;
}

#portfolio .margin_bottom {
    margin-bottom: 24px;
}

#portfolio .portfolio_item_img {
    position: relative;
    overflow: hidden;
}

#portfolio .portfolio_item_img_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(214, 198, 178, 0.85);
    transform: translateX(-120%);
    -webkit-transform: translateX(-120%);
    -moz-transform: translateX(-120%);
    -ms-transform: translateX(-120%);
    -o-transform: translateX(-120%);
    transition: .5S;
    -webkit-transition: .5S;
    -moz-transition: .5S;
    -ms-transition: .5S;
    -o-transition: .5S;
}

#portfolio .portfolio_item_img:hover .portfolio_item_img_overlay {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

#portfolio .portfolio_item_img_overlay_icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background: #444444;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

#portfolio .portfolio_item_img_overlay_icon i:hover {
    background: #222222;
}

#portfolio .portfolio_item_img_overlay_text {
    text-align: center;
    margin-top: 95%;
}

#portfolio .portfolio_item_img_overlay_text p {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #222222;
    font-family: 'Open Sans',
        sans-serif;
}

#portfolio .portfolio_item_img_overlay_text span {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #222222;
    font-family: 'Open Sans',
        sans-serif;
}

#portfolio .portfolio_head h2 {
    font-size: 32px;
    line-height: 32px;
    font-weight: 400;
    color: #222222;
    font-family: 'Abril Fatface',
        cursive;
    margin-bottom: 50px;
}

#portfolio .portfolio_category ul li {
    line-height: 64px;
}

#portfolio .portfolio_category ul li a {
    font-size: 20px;
    font-weight: 600;
    color: #444444;
    font-family: 'Open Sans',
        sans-serif;

}

#portfolio .portfolio_category ul li a:hover {
    padding-left: 30px;
    color: #d6c6b2;
}

/*========================portfolio section end========================*/

/*========================testimonial section start========================*/
#testimonial {
    padding-top: 60px;
    padding-bottom: 60px;
    background: url(../images/testimonial-background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

#testimonial::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

#testimonial .testimonial_head h2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    color: #d6c6b2;
    font-family: 'Abril Fatface',
        cursive;
    margin-bottom: 55px;
}

#testimonial .testimonial_item {
    padding: 0 15px;
    margin-bottom: 60px;
}

#testimonial .testimonial_item_img img {
    max-width: 100%;
}

#testimonial .testimonial_item_text h3 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    font-family: 'Open Sans',
        sans-serif;
    color: #ffffff;
}

#testimonial .testimonial_item_text h4 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Open Sans',
        sans-serif;
    color: #ffffff;
    margin-bottom: 8px;
}

#testimonial .testimonial_item_text ul li {
    display: inline-block;
    color: #ffffff;
    margin: 0 2px;
    margin-bottom: 20px;
}

#testimonial .testimonial_item_text p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    font-family: 'Open Sans',
        sans-serif;
}

#testimonial .testimonial_prev_arrow {
    position: absolute;
    bottom: 60px;
    left: 47%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #d6c6b2;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    z-index: 22;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

#testimonial .testimonial_prev_arrow:hover {
    background: #d6c6b2;
}

#testimonial .testimonial_prev_arrow i {
    font-size: 30px;
    color: #ffffff;
    position: absolute;
    right: 50%;
}

#testimonial .testimonial_next_arrow {
    position: absolute;
    bottom: 60px;
    right: 47%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #d6c6b2;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    z-index: 22;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

#testimonial .testimonial_next_arrow:hover {
    background: #d6c6b2;
}

#testimonial .testimonial_next_arrow i {
    font-size: 30px;
    color: #ffffff;
    position: absolute;
    left: 50%;
}

/*========================testimonial section end========================*/

/*========================pricing section start========================*/
#pricing {
    padding-top: 100px;
    padding-bottom: 100px;
}

#pricing .pricing_head h2 {
    font-size: 32px;
    line-height: 32px;
    font-weight: 400;
    color: #222222;
    font-family: 'Abril Fatface',
        cursive;
    margin-bottom: 50px;
}

#pricing .pricing_item {
    background: #f1f1f1;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

#pricing .pricing_item:hover {
    background: #d6c6b2;
}

#pricing .pricing_item_head {
    height: 55px;
    width: 100%;
    background: #dddddd;
    margin-bottom: 20px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

#pricing .pricing_item:hover .pricing_item_head {
    background: #d6c6b2;
    box-shadow: 0px 7px 7px -5px rgba(0, 0, 0, 0.4);
}

#pricing .pricing_item_head h3 {
    font-size: 20px;
    line-height: 55px;
    font-weight: 700;
    color: #222222;
    font-family: 'Open Sans',
        sans-serif;
}

#pricing .pricing_item_img {
    margin-bottom: 20px;
}

#pricing .pricing_item_img img {
    max-width: 100%;
}

#pricing .pricing_item_price {
    padding-bottom: 20px;
    border-bottom: 1px solid #dddddd;
    margin-left: 50px;
    margin-right: 50px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

#pricing .pricing_item:hover .pricing_item_price {
    border-color: rgba(68, 68, 68, 0.25);
}

#pricing .pricing_item_price h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 40px;
    color: #222222;
    font-family: 'Open Sans',
        sans-serif;
    display: inline-block;
}

#pricing .pricing_item_price span {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    color: #222222;
    font-family: 'Open Sans',
        sans-serif;
    display: inline;
}

#pricing .pricing_item_text ul {
    margin-top: 20px;
}

#pricing .pricing_item_text ul li {
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    color: #444444;
    font-family: 'Open Sans',
        sans-serif;
}

#pricing .pricing_item_btn {
    margin-top: 20px;
    padding-bottom: 30px;
}

#pricing .pricing_item_btn a {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #444444;
    font-family: 'Open Sans',
        sans-serif;
    text-transform: uppercase;
    padding: 15px 20px;
    border: 1px solid #444444;
    display: inline-block;
}

#pricing .pricing_item_btn a:hover {
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.3);
    border-color: #d6c6b2;
}

/*========================pricing section end========================*/

/*========================blog section start========================*/
#blog {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #f1f1f1;
}

#blog .blog_head h2 {
    font-size: 32px;
    line-height: 32px;
    font-weight: 400;
    color: #222222;
    font-family: 'Abril Fatface',
        cursive;
    margin-bottom: 60px;
}

#blog .margin_bottom {
    margin-bottom: 24px;
}

#blog .blog_item_img {
    position: relative;
    overflow: hidden;
}

#blog .blog_item_img_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(214, 198, 178, 0.7);
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

#blog .blog_item_img:hover .blog_item_img_overlay {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

#blog .blog_item_img_overlay_text {
    position: absolute;
    right: 20px;
    top: 20px;
    text-align: center;
}

#blog .blog_item_img_overlay_text p {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    color: #ffffff;
    font-family: 'Open Sans',
        sans-serif;
}

#blog .blog_item_img_overlay_text span {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #ffffff;
    font-family: 'Open Sans',
        sans-serif;
}

#blog .blog_text {
    background: #dddddd;
    padding: 29px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#blog .blog_text::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #d6c6b2;
    z-index: -1;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

#blog .blog_text:hover.blog_text::after {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

#blog .bolg_text_info {
    position: relative;
    margin-bottom: 20px;
}

#blog .bolg_text_info span {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #666666;
    font-family: 'Open Sans',
        sans-serif;
}

#blog .bolg_text_info ul {
    position: absolute;
    top: 0;
    right: 0;
}

#blog .bolg_text_info ul li {
    display: inline-block;
    margin: 0 5px;
}

#blog .bolg_text_info ul li a {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #666666;
    font-family: 'Open Sans',
        sans-serif;
}

#blog .blog_text_docs {
    margin-bottom: 20px;
}

#blog .blog_text_docs h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #222222;
    font-family: 'Open Sans',
        sans-serif;
    margin-bottom: 20px;
}

#blog .blog_text_docs p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #444444;
    font-family: 'Open Sans',
        sans-serif;
}

#blog .blog_text_btn {
    position: relative;
}

#blog .blog_text_btn a {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #222222;
    font-family: 'Open Sans',
        sans-serif;
    text-transform: uppercase;
    display: inline-block;
}

#blog .blog_text_btn a i {
    padding-left: 8px;
}

#blog .blog_text_btn a:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
    text-transform: capitalize;
    font-weight: 400;
    color: #666666;
}

#blog .blog_text_btn a:last-child i {
    padding-right: 8px;
    padding-left: 0;
}

#blog .blog_btn {
    margin-top: 60px;
}

#blog .blog_btn a {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #222222;
    font-family: 'Open Sans',
        sans-serif;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    background: #d6c6b2;
    border: 1px solid transparent;
    display: inline-block;
}

#blog .blog_btn a:hover {
    background: transparent;
    border-color: #444444;
}

/*========================blog section end========================*/

/*========================footer section start========================*/
#footer .footer_main {
    padding-top: 100px;
    padding-bottom: 30px;
}

#footer .get_touch h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #222222;
    font-family: 'Abril Fatface',
        cursive;
    margin-bottom: 20px;
}

#footer .get_touch ul li {
    position: relative;
    padding-left: 33px;
}

#footer .get_touch ul li a {
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    color: #444444;
}

#footer .get_touch ul li a:hover {
    color: #d6c6b2;
}

#footer .get_touch ul li a i {
    position: absolute;
    top: 4px;
    left: 0;
}

#footer .follow_me {
    margin-top: 50px;
}

#footer .follow_me h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #222222;
    font-family: 'Abril Fatface',
        cursive;
    margin-bottom: 30px;
}

#footer .follow_me ul li {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
}

#footer .follow_me ul li a {
    font-size: 20px;
    color: #444444;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#footer .follow_me ul li a:hover {
    background: #d6c6b2;
    color: #ffffff;
    box-shadow: 0 0 5px 0 #d6c6b2;
}

#footer .message_me {
    background: #f1f1f1;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

#footer .message_me h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #222222;
    font-family: 'Open Sans',
        sans-serif;
    margin-bottom: 30px;
}

#footer .message_me .name input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-style: italic;
    color: #666666;
    background: transparent;
    border: 1px solid #dddddd;
}

#footer .message_me .name input:hover {
    border-color: #d6c6b2;
}

#footer .message_me .email input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-style: italic;
    color: #666666;
    background: transparent;
    border: 1px solid #dddddd;
}

#footer .message_me .email input:hover {
    border-color: #d6c6b2;
}

#footer .message_me .message {
    position: relative;
}

#footer .message_me .message textarea {
    width: 100%;
    height: 150px;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-style: italic;
    color: #666666;
    background: transparent;
    border: 1px solid #dddddd;
    resize: none;
    margin-top: 24px;
}

#footer .message_me .message textarea:hover {
    border-color: #d6c6b2;
}

#footer .message_me .message button {
    position: absolute;
    bottom: 0;
    right: 12px;
    width: 70px;
    height: 70px;
    clip-path: polygon(100% 0, 0 98%, 100% 100%);
    background: #d6c6b2;
    border: none;
}

#footer .message_me .message button i {
    position: absolute;
    bottom: -10%;
    right: 10%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    font-size: 20px;
    color: #222222;

}

#footer .message_me input:focus {
    border: 2px solid #d6c6b2;
}

#footer .message_me textarea:focus {
    border: 2px solid #d6c6b2;
}

#footer .footer_copyright {
    background: #dddddd;
    padding-top: 20px;
    padding-bottom: 20px;
}

#footer .footer_copyright .footer_copyright_text p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #444444;
    font-family: 'Open Sans',
        sans-serif;
}

#footer .footer_copyright .footer_copyright_text p a {
    font-weight: 600;

}

/*========================footer section end========================*/


/*==========================scroll to top section start==========================*/
.scroll_to_top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #c6ddebe6;
    border-radius: 50%;
    cursor: pointer;
    z-index: 55555;
    box-shadow: 0 0 8px 2px #d6c6b2;
    display: none;
}

.scroll_to_top:hover {
    background: #d6c6b2;
}

.scroll_to_top i {
    font-size: 30px;
    color: #444444;
    transition: .5s;
}

.scroll_to_top:hover i {
    color: #000000;
}

/*==========================scroll to top section end==========================*/